.Main{
    height: 100%;
    width: 100vw;
    
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  
  @media (max-width:760px) {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
      }
  }